// ----------------------------
// 自定義spacing樣式
// ----------------------------

$spacing-0: 0px;
$spacing-1: 8px;
$spacing-2: 16px;
$spacing-3: 24px;
$spacing-4: 32px;
$spacing-5: 40px;
$spacing-6: 48px;

.margin {
  &-0 {
    margin-bottom: $spacing-0;
  }
  &-1 {
    margin-bottom: $spacing-1;
  }
  &-2 {
    margin-bottom: $spacing-2;
  }
  &-3 {
    margin-bottom: $spacing-3;
  }
  &-4 {
    margin-bottom: $spacing-4;
  }
  &-5 {
    margin-bottom: $spacing-5 !important;
  }
  &-6 {
    margin-bottom: $spacing-6;
  }
}
